<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aws-context="http://www.springframework.org/schema/cloud/aws/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/batch
        http://www.springframework.org/schema/batch/spring-batch.xsd
        http://www.springframework.org/schema/cloud/aws/context
        http://www.springframework.org/schema/cloud/aws/context/spring-cloud-aws-context.xsd">

    <aws-context:context-region region="${cloud.aws.region}"/>

    <aws-context:context-credentials>
        <aws-context:simple-credentials access-key="${cloud.aws.credentials.accessKey}" secret-key="${cloud.aws.credentials.secretKey}" />
    </aws-context:context-credentials>

    <aws-context:context-resource-loader  region="${cloud.aws.region}"/>

    <import resource="formula-columns.xml"/>
    <import resource="chart-details.xml"/>

    <job id="readFileJob"
         xmlns="http://www.springframework.org/schema/batch">
        <step id="readFile">
            <tasklet>
                <chunk commit-interval="${row.commit.size}"
                       reader="multiResourceReader"
                       processor=""
                       writer="dynamoDbWriter"
                />
            </tasklet>
        </step>
        <listeners>
            <listener ref="jobNotificationListener"/>
        </listeners>
    </job>

    <bean id="jobNotificationListener" class="com.saven.dailyalert.batch.JobNotificationListener">
        <property name="ftpFileTransfer" ref="ftpFileTransfer"/>
        <property name="skipUpload" value="${cloud.aws.s3.file.upload.skip}"/>
    </bean>

    <bean id="dynamoDbWriter" class="com.saven.dailyalert.batch.DynamoDbWriter">
        <property name="skipWrite" value="${dynamodb.write.skip}"/>
        <property name="region" value="${cloud.aws.region}"/>
        <property name="accessKey" value="${cloud.aws.credentials.accessKey}"/>
        <property name="secretKey" value="${cloud.aws.credentials.secretKey}"/>
        <property name="tableName" value="${cloud.aws.dynamodb.table.name}"/>
        <property name="hashKeyName" value="${cloud.aws.dynamodb.table.primaryKey.column}"/>
        <property name="rangeKeyName" value="${cloud.aws.dynamodb.table.sortKey.column}"/>
        <property name="hashKeyPrefix" value="${cloud.aws.dynamodb.table.primaryKey.prefix}"/>
        <property name="hashKeySuffix" value="${cloud.aws.dynamodb.table.primaryKey.suffix}"/>
    </bean>

    <!--<bean id="chartWriter" class="com.saven.dailyalert.batch.LineChartWriter">
        <property name="seriesConfigMap" ref="seriesConfigMap"/>
        <property name="chartSaveAs" value="${chart.save.as}"/>
        <property name="label" value="${chart.label}"/>
        <property name="height" value="${chart.height}"/>
        <property name="width" value="${chart.width}"/>
        <property name="domain" value="${chart.domain.label}"/>
        <property name="range" value="${chart.range.label}"/>
        &lt;!&ndash;<property name="directory" value="${docker.home.child.dir}"/>&ndash;&gt;
        <property name="fileUploader" ref="awsUploader"/>
        <property name="prefix" value="${aws.file.prefix}"/>
        <property name="extension" value="${aws.file.extension}"/>
        <property name="skipUpload" value="${aws.file.skip.upload}"/>
    </bean>-->

    <bean id="multiResourceReader" class=" org.springframework.batch.item.file.MultiResourceItemReader">
        <property name="delegate" >
            <bean class="org.springframework.batch.item.file.FlatFileItemReader">
                <property name="recordSeparatorPolicy"
                          ref="productRecordSeparatorPolicy"/>
                <property name="lineMapper" ref="lineMapper"/>
            </bean>
        </property>
    </bean>

    <bean id="s3ResourceLoader" class="com.saven.dailyalert.util.S3ResourceLoader"/>

    <bean id="productRecordSeparatorPolicy"
          class="org.springframework.batch.item.file.separator.DefaultRecordSeparatorPolicy"/>

    <bean id="lineMapper" class="com.saven.dailyalert.batch.CSVLineMapper" >
        <property name="lineTokenizer">
            <bean class="org.springframework.batch.item.file.transform.DelimitedLineTokenizer"/>
        </property>

        <property name="fieldSetMapper" ref="fieldSetMapper"/>
    </bean>

    <bean id="fieldSetMapper" class="com.saven.dailyalert.batch.FieldsSetMapper">
        <property name="printRow" value="${batch.print.row}"/>
        <property name="rowIdColumn" value="${row.id.column}"/>
        <property name="applicableFormulaMap" ref="applicableFormulaMap"/>
    </bean>

    <bean id="awsUploader" class="com.saven.dailyalert.util.AwsS3FileUploader">
        <property name="accessKey" value="${cloud.aws.credentials.accessKey}"/>
        <property name="secretKey" value="${cloud.aws.credentials.secretKey}"/>
        <property name="bucketName" value="${cloud.aws.s3.bucket}"/>
    </bean>

<bean id="ftpFileTransfer" class="com.saven.dailyalert.util.FtpFileTransfer">
    <property name="awsS3FileUploader" ref="awsUploader"/>
    <property name="server" value="${ftp.server}"/>
    <property name="port" value="${ftp.port}"/>
    <property name="user" value="${ftp.user}"/>
    <property name="password" value="${ftp.password}"/>
    <property name="directory" value="${ftp.remote.dir}"/>
    <property name="s3bucket" value="${cloud.aws.s3.bucket}"/>
    <property name="deleteAfterRead" value="${ftp.delete.after.read}"/>
    <property name="dateFormat" value="${batch.datetime.pattern}"/>
</bean>

</beans>